@charset "UTF-8";
html {
  font-size: 62.5%;
}

@font-face {
  font-family: Raleway;
  src: url(fonts/raleway/Raleway-Regular.ttf);
}
body, input, textarea {
  font: 1.4em 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2.3em;
  color: #474646;
  background: #E6E6E6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #272727;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
  font-style: normal;
  font-weight: 300;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-size: 1.6;
  line-height: 1em;
  font-style: normal;
}

h4 {
  font-size: 1.5em;
  line-height: 1em;
  font-style: normal;
}

h5 {
  font-size: 1.3em;
  line-height: 0.9em;
  font-style: normal;
}

h6 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #474646;
}

p {
  font: 1.0em 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ==========================================================================
   Login
   ========================================================================== */
.form-login {
  border-radius: 5px;
  margin: auto;
  max-width: 300px;
  margin-top: 10%;
  background: #fff none repeat scroll 0 0;
}
.form-login .form-login-heading {
  text-align: center;
  font-weight: 300;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 35px 0 10px 0;
  background: #fff;
}
.form-login .login-wrap {
  padding: 15px;
}
.form-login input {
  margin: 10px 0;
}
.form-login a {
  margin: 10px 0;
}
.form-login .btn-login {
  color: #fff;
  border-color: #609bd6;
  background-color: #63a0dd;
}

/* ==========================================================================
   erro 404
   ========================================================================== */
.erro-404 {
  text-align: center;
  margin: auto;
  max-width: 300px;
  margin-top: 10%;
  padding: 10px;
  background: #fff;
}
.erro-404 h1 {
  color: #FE8B8B;
  font-weight: 600;
}

/* ==========================================================================
   navbar
   ========================================================================== */
.nav-header {
  border-bottom: solid 1px #e5e5e5;
  background: #fff;
}
.nav-header .logo-ibuy {
  padding: 10px;
  width: 30%;
  float: left;
}
.nav-header .usuario {
  float: right;
}
.nav-header .usuario .nome {
  padding: 0 10px;
}
.nav-header .usuario .navbar-nav {
  margin: 0;
}
.nav-header .usuario img {
  display: none;
}
.nav-header .usuario .dropdown-toggle {
  padding: 25px;
}

/* ==========================================================================
   lista
   ========================================================================== */
.lista {
  padding: 10px;
  background: #fff;
}

.conteudo {
  margin-top: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(61, 59, 63, 0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(61, 59, 63, 0.5);
  box-shadow: 0px 0px 6px 0px rgba(61, 59, 63, 0.5);
}

.descricao {
  position: relative;
  word-wrap: break-word;
  width: 75%;
  padding: 5px;
  margin: 1px 0;
  border-bottom: solid 1px #ddd;
  float: left;
}
.descricao .valor {
  float: right;
}

.acao {
  position: relative;
  text-align: center;
  width: 24.8%;
  margin-top: 2px;
  margin-left: 0.2%;
  padding: 5px 0;
  float: left;
}

.fa-trash-o {
  color: #FA9292;
}

.fa-pencil {
  color: #46B19D;
}

.btn-remover, .btn-editar, .btn-selecionar {
  width: 33.33333%;
  float: left;
  cursor: pointer;
}

.selecionado-true {
  text-decoration: line-through;
  color: #ddd;
}

.lista-home-rodape {
  width: 75%;
  padding-top: 10px;
}
.lista-home-rodape p {
  float: right;
}

#formAdd {
  padding: 5px;
  margin-top: 10px;
}

.form-edit #formEdit {
  padding: 15px 5px 0 5px;
}

.btn-add {
  margin-top: 50px;
  text-align: center;
}
.btn-add span {
  font-size: 2.5em;
  color: #63a0dd;
}

.form {
  opacity: 1;
}

.form.ng-hide-add.ng-hide-add-active,
.form.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.form.ng-hide {
  line-height: 0;
  opacity: 0;
}

/* ==========================================================================
  P├ígina de detalhes
   ========================================================================== */
.detalhes-header {
  padding: 5px 10px;
}

.descricao-detalhes {
  position: relative;
  border-bottom: solid 1px #ddd;
  padding: 5px;
  margin: 1px 0;
}
.descricao-detalhes .valor {
  float: right;
}

.lista-detalhes-rodape {
  padding: 10px 10px 0 0;
}
.lista-detalhes-rodape .total {
  padding-top: 6px;
  float: right;
}
.lista-detalhes-rodape .btn-voltar a {
  font-size: 2em;
  padding: 0 3px;
  float: left;
}

.reset-padding {
  padding-left: 15px;
  padding-right: 0px;
}

@media screen and (max-width: 480px) {
  .col-mb-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.limpar {
  clear: both;
}

/* ==========================================================================
   Tela m├¡nima 550px largura
   ========================================================================== */
@media screen and (min-width: 470px) {
  .nav-header .logo-ibuy {
    width: 30%;
    margin-left: 35%;
  }
  .nav-header .logo-ibuy img {
    display: block;
    margin: auto;
  }
  .nav-header .usuario {
    float: right;
  }
  .nav-header .usuario .nome {
    padding: 0 10px;
  }

  .descricao,
  .lista-home-rodape {
    width: 80%;
  }

  .acao {
    width: 19.8%;
  }
}
/* ==========================================================================
   Tela m├¡nima 780px largura
   ======================================================================== */
@media screen and (min-width: 780px) {
  .nav-header .logo-ibuy {
    width: 30%;
    margin-left: 35%;
  }
  .nav-header .usuario {
    float: right;
  }
  .nav-header .usuario img {
    display: inline;
  }
  .nav-header .usuario .nome {
    padding: 0 10px;
  }
  .nav-header .usuario .dropdown-toggle {
    padding: 13px;
  }

  .descricao,
  .lista-home-rodape {
    width: 85%;
  }

  .acao {
    width: 14.8%;
  }
}
/* ==========================================================================
   Tela m├¡nima 1200px largura
   ========================================================================== */
@media screen and (min-width: 1200px) {
  .conteudo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .descricao,
  .lista-home-rodape {
    width: 90%;
  }

  .acao {
    width: 9.8%;
  }
}
